<mat-card class="building-card">
  <mat-card-header>
    <mat-card-title>Elevator Control</mat-card-title>
  </mat-card-header>
  <mat-card-content class="floor-buttons">
    <span class="floor-display">{{currentFloor}}</span>
    <button *ngFor="let floor of floors"
            mat-mini-fab
            [color]="isCabinButtonPressed(floor.level) ? 'accent' : 'primary'"
            (click)="buttonClicked.emit(floor.level)">
      <span>{{floor.level}}</span>
    </button>
  </mat-card-content>
</mat-card>
